/* static/css/custom-admonition.css */
.admonition {
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem 0;
    position: relative;
}

.admonition-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.admonition-content {
    padding: 0.5rem 0;
}

.admonition.note {
    background-color: #e0f7fa;
    border-left: 5px solid #00acc1;
}

.admonition.warning {
    background-color: #fff3e0;
    border-left: 5px solid #fb8c00;
}

.admonition.danger {
    background-color: #ffebee;
    border-left: 5px solid #e53935;
}

/* Icon styles */
.admonition-icon {
    margin-right: 0.5rem;
}

.admonition.tip {
    background-color: #e9f7ef;
    border-left: 4px solid #34d058;
}

.admonition.tip .admonition-icon {
    color: #28a745;
}